<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-amber.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<style>
/*
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../imgs/welcome_card.jpg') center / cover;
}
*/
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>
<body>
<div th:fragment="announcements" class="container" style="width: 900px;">
    <div class="demo-card-wide mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Welcome to ScarabRP!</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Scarab RP is a website for collaboratively building stories by way of roleplaying with a focus on anonymity. Users can create anonymous posts called prompts or answer prompts created by other users to join a private chat.
            <br/><br/>
            I built this website as a personal project to explore and learn new skills.
            While it is currently under construction, please note that some functionality is not present.
            <h5>What is Roleplaying?</h5>
            Roleplaying is a creative activity where participants assume the roles of fictional characters and interact within a shared narrative.
            It's like stepping into the shoes of your favorite characters and contributing to an evolving storyline.
            <br/><br/>
            Navigate to the <i>"My Prompts"</i> tab above to create your own prompt!

        </div>
        <div class="mdl-card__menu">

        </div>
    </div>

</div>

</body>
</html>