<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-amber.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>

<div th:fragment="header">
  <div sec:authorize="isAuthenticated()">
    <form id="logoutForm" method="POST" th:action="@{/logout}">
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
  </div>
  <!-- display: block; is temporary fix for header disappearing on mobile. Will need to resize for phones -->
  <header class="mdl-layout__header" style="display: block;">
    <div class="mdl-layout__header-row">
      <h4 style="margin:auto">Welcome, <span sec:authentication="name">username</span>! </h4>
      <div class="mdl-layout-spacer"></div>

      <a href="/home">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #FFF">
        <i class="material-icons">home</i>
        Home
        </button>
      </a>
      <a href="/prompts/browse">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #FFF">
          <i class="material-icons">search</i>
          Browse
        </button>
      </a>
      <a href="/account">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #FFF">
          <i class="material-icons">person</i>
          Account
        </button>
      </a>

      <div class="mdl-layout-spacer"></div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="" onclick="document.forms['logoutForm'].submit()">
        Logout
      </button>
    </div>
  </header>
</div>

</body>
</html>