<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScarabRP - Home</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/prompt_style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-amber.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<style>
</style>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-tabs">
    <div th:insert="fragments/header :: header">...</div>

    <!--display: block; is temporary fix for header disappearing on mobile. Will need to resize for phones-->
    <header class="mdl-layout__header" style="display: block;">
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect" style="background-color:#0F625A">
            <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Announcements</a>
            <a href="#fixed-tab-2" class="mdl-layout__tab">My Prompts</a>
            <a href="#fixed-tab-3" class="mdl-layout__tab">My Chats</a>
        </div>
    </header>

    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
            <div class="page-content container">
                <!-- Tab 1 -->
                <div th:insert="fragments/announcements :: announcements">...</div>
                <span sec:authorize="hasAuthority('ADMIN')">
                    This account has the admin role.
                </span>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
            <div class="page-content">
                <!-- Tab 2 -->
                <div class="grid-item grid-header">
                    <a style="margin:10px 50px;"
                       th:href="@{/prompts/new}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Create Prompt <i class="material-icons">add</i>
                    </a>
                </div>
                <div class="grid-container" th:insert="fragments/promptCard :: cards">...</div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
            <div class="page-content">
                <!-- Tab 3 -->
                <div th:insert="fragments/underConstruction :: wip">...</div>
            </div>
        </section>

        <div th:insert="fragments/promptCard :: modals">...</div>
    </main>
</div>
<div th:insert="fragments/promptCard :: modalScripts">...</div>
</body>
</html>
