<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScarabRP - Browse</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/prompt_style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-amber.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<style>
    .radio-button-span {
        font-size:12px;
        margin-left: -5px;
        padding-right:5px;
    }
    .filter_bar > form {
        margin:none;
    }

</style>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-tabs">
    <div th:insert="fragments/header :: header">...</div>

    <p>This page is under construction...</p>

    <!-- SEARCH FORM -->
    <div class="filter_bar">
    <form th:action="@{/prompts/browse}" th:object="${searchPromptForm}" method="POST" class="form">
        <div class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #000" disabled>
            <i class="material-icons">filter_alt</i>
            Filter by...
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" th:field="*{tags}" type="text" id="searchByTags" name="searchByTags">
            <label class="mdl-textfield__label" for="searchByTags">Search By Tags...</label>
            <span class="has-error" th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" th:field="*{phrase}" type="text" id="searchByPhrase" name="searchByPhrase">
            <label class="mdl-textfield__label" for="searchByPhrase">Search By Phrase...</label>
            <span class="has-error" th:if="${#fields.hasErrors('phrase')}" th:errors="*{phrase}"></span>
        </div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="color: #FFF">
            FILTER
        </button>
    </form>
    </div>

    <!-- VIEW TOGGLE -->
    <div style="text-align:right;">
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="table-view">
            <input type="radio" id="table-view" class="mdl-radio__button" name="view-option" value="on" checked
                   onchange="toggleLayout()">
            <span class="mdl-radio__label radio-button-span">Table View</span>
        </label>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="gallery-view">
            <input type="radio" id="gallery-view" class="mdl-radio__button" name="view-option" value="off"
                   onchange="toggleLayout()">
            <span class="mdl-radio__label radio-button-span">Gallery View</span>
        </label>
    </div>
    <!-- TABLE VIEW -->
    <div id="toggle-view-table">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="white-space:inherit;">
            <colgroup>
                <!-- Edit column size here -->
                <col style="width: 8%;" span="1">
                <col style="width: 15%;" span="1">
                <col style="width: 45%;" span="1">
                <col style="width: auto;" span="1">
                <col style="width: 8%;" span="1">
            </colgroup>

            <thead>
            <tr>
                <th class="search-table-header" scope="col">ID</th>
                <th class="mdl-data-table__cell--non-numeric search-table-header" scope="col">Title</th>
                <th class="mdl-data-table__cell--non-numeric search-table-header" scope="col">Summary</th>
                <th class="mdl-data-table__cell--non-numeric search-table-header" scope="col">Tags</th>
                <th class="mdl-data-table__cell--non-numeric search-table-header" scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prompt: ${prompts}" class="search-table-row show-dialog-readMore"
                th:onclick="readMorePrompt([[${prompt}]])">
                <td th:text="${prompt.id}">0001</td>
                <td class="mdl-data-table__cell--non-numeric" th:text="${prompt.title}">Lorem ipsum</td>
                <td class="mdl-data-table__cell--non-numeric" th:text="${prompt.summary}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Diam phasellus vestibulum lorem sed risus ultricies.
                    In metus vulputate eu scelerisque felis imperdiet proin fermentum. Imperdie...
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                        <span th:each="tag: ${prompt.getArrayTags()}" class="mdl-chip">
                            <span th:text="${tag}" class="mdl-chip__text">tag text</span>
                        </span>
                </td>
                <td>
                    <button class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">output</i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- GALLERY VIEW -->
    <div id="toggle-view-gallery" style="display:none;">
        <div class="page-content">
            <div class="grid-container" th:insert="fragments/promptCard :: cards">...</div>
        </div>
    </div>

</div>

<div th:insert="fragments/promptCard :: modals">...</div>

<div th:insert="fragments/promptCard :: modalScripts">...</div>

<script>
    function toggleLayout() {
          var tableView = document.getElementById('table-view');
          var toggleViewTable = document.getElementById('toggle-view-table');
          var toggleViewGallery = document.getElementById('toggle-view-gallery');

          if (tableView.checked) {
            // Table View is selected
            toggleViewTable.style.display = 'block';
            toggleViewGallery.style.display = 'none';
        } else {
            // Gallery View is selected
            toggleViewTable.style.display = 'none';
            toggleViewGallery.style.display = 'block';
        }
    }
</script>

</body>
</html>